### FastAPI / Generales
PROJECT_NAME="Somos Core API"
PROJECT_DESCRIPTION="Documentacion de la API SOMOS"
APP_ID=1
SOMOS_SLUG=somos
DEVELOPMENT=1
CORS_ALLOW_ORIGINS=*

### Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=somos_user
DB_PASSWORD=somos_pwd
DB_NAME=somos_db
DB_POOL_SIZE=5
DB_POOL_RECYCLE=3600

### JWT
JWT_SECRET_KEY=tu_clave_secreta_muy_segura_aqui
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

### Mail
MAIL_MEDIA_PATH=app/media/mail
NOTIFY_EMAILS=
URL_PWA=http://localhost
API_PAYMENTS_KEY=

### Localizacion
TIMEZONE=Europe/Madrid
