###> FastAPI/Generales ###
PROJECT_NAME="Somos Core API"
APP_ID=1
PROJECT_IP=217.160.88.123
###< FastAPI/Generales ###

###> sqlmodel/mysql conection ###
DB_HOST=localhost
DB_PORT=3306
DB_USER=somos_user 
DB_PASSWORD=somos_pwd
DB_NAME=somos_db
DB_POOL_SIZE=5
DB_POOL_RECYCLE=3600
###< sqlmodel/mysql conection ###

###> JWT Authentication ###
JWT_SECRET_KEY=tu_clave_secreta_muy_segura_aqui
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
###< JWT Authentication ###
